<% unless comment.archived? %>
	<div class="div_text">
		<div
  <strong> <h4>Commenter:</h4></strong>
  <%= comment.commenter %>
   </div>

   <div>
		 <strong> <h4>Comment:</h4></strong>
  <%= comment.body %>
   </div>

	 <% if current_name == @article.user || current_user.is_admin%>
  <div>
  <%= link_to "Destroy Comment", [comment.article, comment], data: {
                method: :delete,
                confirm: "Are you sure?"
	} %>
	</div>
<%end%>
</div>
<% end %>
